@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h2>Information</h2>
<p>
    Use webbbrowser and type https://localhost:44368/Products/Index/sv/SEK/27773-02 
    change to en and SEK and you will se the English market with currency SEK.
</p>

<h1>List for CatalogEntryCode: @ViewBag.Message_CatalogEntryCode</h1>
<br />
<p>Filtred with Market: @ViewBag.Message_Market and Currency: @ViewBag.Message_Currency </p>
<br />



<table class="table table-striped align-left">
    <thead class="thead-light align-left">
        <tr m-10>
            <th></th>
            <th></th>
            <th></th>
            <th>MarketId</th>
            <th></th>
            <th>UnitPrice</th>
            <th></th>
            <th>CurrencyCode</th>
            <th></th>
            <th m-20>ValidFrom</th>
            <th></th>
            <th></th>
            <th m-20>ValidUntil</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr m-10 id="TableRow @item.Id:" class="align-left">
                <td></td>
                <td></td>
                <td></td>
                <td>@item.MarketId</td>
                <td></td>
                <td>@item.UnitPrice</td>
                <td></td>
                <td>@item.CurrencyCode</td>
                <td></td>
                <td m-20>@item.ValidFrom --</td>
                <td></td>
                <td></td>
                <td m-20>@item.ValidUntil</td>
                <td></td>
                <td></td>
            </tr>
            //}
            //}
        }
    </tbody>
</table>


