@model List<Product>
@{
    ViewData["Title"] = "Index";
}

    <h1>CatalogEntryCode: @ViewBag.Message</h1>

    <p>Sorting of Market: </p>
    <br />

    <table class="table table-striped align-left">
        <thead class="thead-light">
            <tr m-10>
                <th></th>
                <th></th>
                <th></th>
                <th>MarketId</th>
                <th></th>
                <th>UnitPrice</th>
                <th></th>
                <th>CurrencyCode</th>
                <th></th>
                <th>ValidFrom</th>
                <th></th>
                <th></th>               
                <th>ValidUntil</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                //if (@item.CatalogEntryCode == "27773-02")
                //{
                    //if (@item.MarketId.ToLower() == "sv")
                    //{
                        <tr m-10 id="TableRow @item.Id:">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@item.MarketId</td>
                            <td></td>
                            <td>@item.UnitPrice</td>
                            <td></td>
                            <td>@item.CurrencyCode</td>
                            <td></td>
                            <td>@item.ValidFrom</td>
                            <td></td>
                            <td></td>
                            <td>@item.ValidUntil</td>
                            <td></td>
                            <td></td>
                        </tr>
                    //}
                //}
            }
        </tbody>
    </table>

                
       